body { 
    font-family: sans-serif; 
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

.centre-title {
    text-align: center;
    margin-bottom: 30px;
}

.centre-container {
    max-width: 800px;
    margin: 0 auto;
}


/* Tables */
.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 20px 0;
}

table { 
    border-collapse: collapse; 
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    table-layout: fixed;
    margin: 0 auto;
    min-width: max-content;
    border: 1px solid #ddd; 

}

th, td { 
    border-block: 1px solid #ddd; 
    text-align: left;
    padding: 0;
}

.table-cell {
    margin: 12px;
    
}

thead { 
    background-color: #e9ecef;
    color: #495057;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Sticky table column styling */
th.sticky, td.sticky {
    position: sticky;
    left: 0;
    z-index: 0; /* Ensure sticky elements are on top */
    border-left: 1px solid #ddd;
}

.table-container.is-overflowing th.sticky::after, .table-container.is-overflowing td.sticky::after {
    content: "";
    position: absolute;
    right: -6px;
    top: 0;
    bottom: -1px;
    width: 5px;
    
    background: linear-gradient(90deg, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0) 100%);
}

/* Forms */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

select, button, input[type="number"], input[type="date"], input[type="text"], input[type="color"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; 
}

/* Select placeholder */
select:required:invalid {
  color: #757575;
}
option[value=""][disabled] {
  display: none;
}


button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="color"] {
    padding: 5px;
    height: 50px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

/* Footer */
footer {
    background-color: #fff;
    color: #6c757d;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Header */
a {
    color: #007bff;
    text-decoration: none;
    z-index: 10;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

header nav a {
    color: #007bff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
}

header nav a:hover, header nav a.active {
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
}

.container {
    padding: 20px;
}



/* Hamburger Menu */
.hamburger-menu {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
}

.hamburger-menu:focus {
    outline: none;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: #333;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

/* media max-width 650pz and portrait: */
@media (max-width: 850px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}